<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Friend blog</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
</head>
<body>

<div id="header">
	<div id="logo">
		<h1><a href="#">Friends in all stages of life.......</a></h1>
		<p>Share your feelings <a href="http://www.freecsstemplates.org/">we are waiting here</a></p>
	</div>
	<!-- end #logo -->
	<div id="menu">
		<ul>
			<li class="first"><a href="new_post">Write New Post</a></li>
			<li><a href="show_post">Show Post</a></li>
			
		</ul>
	</div>
	<!-- end #menu -->
</div>
<!-- end #header -->
<div id="page">
	<div id="content">
		<div class="post">
			
			<div class="entry">
				
			</div>
			
		</div>
		<div class="post">
			
			<div class="entry"><center><%= yield %></center>
				

				
			</div>
			<div class="meta">
				
			</div>
		</div>
	</div>
	<!-- end #content -->
	<div id="sidebar" align="left">

		<div id="sidebar-bgtop"></div>
		<div id="sidebar-content">
			
				<li>
					<h2>Friendship makes</h2>
					<ul><font color="green"><strong>
						<li>Beauty............</li>
						<li>Dreams............</li>
						<li>Truth.............</li>
						<li>Imagination.......</li>
						<li>Feelings..........</li>
						<li>Happy mind........<li>
						<li>Wishes............</li></font></strong>
					</ul>
				</li>
				<li>
					<h2>Friendship quotes</h2>
					<ul><font color="green"><strong><li>Fire............</li>
						<li>Recollect............</li>
						<li>Interest.............</li>
						<li>Enjoy.......</li>
						<li>Naughty..........</li>
						<li>Delightful........<li>
						<li>Sharing............</li>
<li>Hopeful............</li>
						<li>Inspiring............</li>
						<li>partners.............</li></font>
						</strong>
					</ul>
				</li>
			</ul>
		</div>
		<div id="sidebar-bgbtm"></div>
	</div>
	<!-- end #sidebar -->
</div>
<!-- end #page -->
<div id="footer">
	<h3><p>The word friend does not had an end</p></h3>
</div>
<!-- end #footer -->
</body>
</html>
